.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.card {
  width: 200px;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
  width: inherit;
  border-radius: 20px;
}
